html,
body {
  padding: 0;
  margin: 0;
font-family: 'Montserrat', sans-serif;

}
section {
  width: 100%;
  /*   skew adds a 4.76 degree slope and the translateY equation is based on the fact that a 4.76 degree slope has a gradient of 1:12 */
  -webkit-transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
      -ms-transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
          transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
  /*   And finally we account for the slope to make sure each section can occupy the full window... I added 10vw just to give it a little extra padding */
  min-height: calc(100vh - (110vw/-12));
}

section:not(:last-child) *{
  -webkit-transform: skew(0, 4.76deg) translateY(calc(50vw/12));
      -ms-transform: skew(0, 4.76deg) translateY(calc(50vw/12));
          transform: skew(0, 4.76deg) translateY(calc(50vw/12));
  margin-top: calc(50vw/-12);
}
  
section:last-child {
  position: relative;
  -webkit-transform: skew(0);
      -ms-transform: skew(0);
          transform: skew(0);
  margin-top: calc(100vw/-12);
  padding-top: calc(100vw/12);
  min-height: 100vh;
  z-index: -1;
}





/* COLORS AND OTHER STYLES TO ILLUSTRATE SECTIONS */
section:nth-child(1) {
  background-color: #000080;
}
section:nth-child(2) {
  background-color: #3e6f6b;
}
section:nth-child(3) {
  background-color: #8B4513;
}
section:nth-child(4) {
  background-color: #3e6f6b;
}
section:nth-child(5) {
  background-color: #000080;
}

section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
h1{
  color: gold;
  font-size: 36px;
 
}

@keyframes gradient {
    0% {
      background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, #fff 0%, #fff 100%);
    }
    25% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.3 ) 24%, #fff 25%, #fff 100%);
    }
    50% {
      background: radial-gradient(circle at center, #0c0cb1 49%, #fff 50%, #fff 100%);
    }
    75% {
      background: radial-gradient(circle at center, #000080 74%, #fff 75%, #fff 100%);
    }
    100% {
      color: #fff;
      background: radial-gradient(circle at center,#000080 99%, #fff 100%, #fff 100%);
    }
  }
  
 
  button {
    margin-left: calc( 50vw - 180px );
    margin-top: 10px;
    width: 350px;
    height: 60px;
    border: none;
    border-radius: 5px;
    background: #fff;
    font-weight: bold;
    font-size: 1.1em;
    color: black;
    box-shadow: 0 6px 6px goldenrod;
    outline: none;
    font-family: 'Montserrat', sans-serif;

  }
  button:active {
    /* set time duration to your needs */
    animation: gradient 100ms;
    background: #000080;
    color: #fff;
    box-shadow: none;
  }
  a{
      text-decoration: none;
      color:#000080;
  }
